//Variables

  $primary: #5265E1;
  $secondary: #FA5959;
  $grey-text: #808080;
  $light-grey: #e3e2e2;
  $text-color: #1c1b1b;

  $custom-margin:5rem;
  

body{
  font-family: "Poppins", serif;
  color: $text-color;
}
h1, .h1, h2, h3{
  font-weight: 700;
}
.mt-custom {
  margin-top: $custom-margin;
}
.mb-custom {
  margin-bottom: $custom-margin;
}
.btn-primary{
  background-color: $primary
}
.btn-secondary{
    background-color: $secondary;
    color:white
  }
  .text-grey{
    color: $grey-text;
  }
  .small-row {
    max-width: 950px;  
    margin-left: auto;
    margin-right: auto;
  }
  .hero-shape{
    background-color: $primary;
    border-bottom-left-radius: $border-radius-pill;
    border-top-left-radius: $border-radius-pill;
    width:70%;
    height:70%;
    position:absolute;
    bottom:0;
    right:-30px;
  }
  .hero-shape-rev{
    background-color: $primary;
    border-bottom-right-radius: $border-radius-pill;
    border-top-right-radius: $border-radius-pill;
    width:70%;
    height:70%;
    position:absolute;
    bottom:-50px;
    left:-30px;
  }
  .navbar{
    .navbar-toggler {
      border:none!important;
      color:$text-color;
      font-size: $font-size-lg;
      &:focus{
        box-shadow: none;
      }
    }
    .navbar-collapse {
      padding: $navbar-padding-y $navbar-padding-x;
      border: 1px solid;
      border-radius: $border-radius;
      transition: $transition-base;
      border: none;
   
    }
  }
  .nav-tabs {
    border: none;
    .nav-link{
      border:none;
      padding:10px 40px 20px;
      border-bottom:2px solid $light-grey;
      color:$grey-text;
      &.active{
        border-bottom:4px solid $secondary;
      }
    }
  }
 
  .download-card{
    display:flex;
    background-color: white;
    flex-direction: column;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow;
    width:100%;
    max-width: 300px;
    .download-card-body{
      padding:($spacer * 2) $spacer;
      img{
        text-align: center;
        padding-bottom: $spacer;
      }
      h3{
        font-size:$font-size-lg;
      }
      p{
        font-size:$font-size-sm;
        color:$grey-text;
        padding-bottom: $spacer;
      }
      &:after{
        content:"";
        display: block;
        border: 1px dashed $light-grey;
      }
    }
    .download-card-button{
      padding:0 $spacer ($spacer * 2) $spacer;
    }

    
  }
  @media (max-width: 768px) {
    .mt-custom {
      margin-top: 4rem;
    }
    .mb-custom {
      margin-bottom: 4rem;
    }
   
    .nav-tabs {
      flex-direction: column;
      border-top:1px solid $light-grey;
      .nav-link{
        border-bottom:1px solid $light-grey;
        padding:20px 10px 10px;
        position: relative;
        &.active{
          border-bottom:1px solid $light-grey;
          background-color: transparent;
          &::after{
            content:"";
            width:150px;
            height:4px;
            background-color: $secondary;
            display: block;
            position: relative;
            margin:0 auto;
            top:10px;
          }
          
        }
      }
    }
  }
  @media (min-width: 768px) {
    .responsiveButton {
      padding: 0.375rem 0.75rem; 
      font-size: 1rem;
    }
    h1, .h1, h2, h3{
      line-height:1.1;
    }
  }
