//Variables
$primary: #5265E1;
$secondary: #FA5959;
$grey-text: #808080;
$text-color: #1c1b1b;
$custom-margin:5rem;

body{
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

.mt-custom {
    margin-top: $custom-margin;
  }
.btn-primary{
  background-color: $primary
}
.btn-secondary{
    background-color: $secondary;
    color:white
  }
  .card-text-grey{
    color: $grey-text;
  }
  .hero-shape{
    background-color: $primary;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width:70%;
    height:70%;
    position:absolute;
    bottom:0;
    right:-30px;
  }
  .navbar{
    .navbar-toggler {
      border:none!important;
      color:$text-color;
      font-size: larger;
      &:focus{
        box-shadow: none;
      }
    }
    .navbar-collapse {
      padding: 10px;
      border: 1px solid;
      border-radius: var(--bs-navbar-toggler-border-radius);
      transition: var(--bs-navbar-toggler-transition);
      border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
      padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  }

  }
  @media (max-width: 758px) {
    .mt-custom {
      margin-top: 2rem;
    }
  }
  @media (min-width: 1200px) {
    h1, .h1 {
        line-height:1.1;
        font-weight: 600;
        
    }
   
}